.react-visual-modeling-tooltip {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
.react-visual-modeling-tooltip:hover .react-visual-modeling-title {
    display: block;
}
.react-visual-modeling-tooltip .react-visual-modeling-title {
    display: none;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    color: #fff;
    min-height: 32px;
    min-width: 30px;
    padding: 0 8px;
    line-height: 32px;
    text-align: left;
    text-decoration: none;
    position: absolute;
    right: calc(100% + 5px);
    white-space: nowrap;
    top: 50%;
    height: 32px;
    transform: translateY(-50%);
}
.react-visual-modeling-tooltip .react-visual-modeling-title::before {
    background-color: rgba(0, 0, 0, 0.75);
    content: " ";
    height: 5px;
    margin: auto;
    pointer-events: auto;
    width: 5px;
    display: block;
    position: absolute;
    right: -2px;
    top: 50%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
    transform: translateY(-50%) rotate(45deg);
}

.butterfly-table-building {
    background: #2E2E2E;
    outline: none;
    box-shadow: none;
    user-select: none;
}
.butterfly-table-building .table-node {
    position: absolute;
    border: 1px solid #5A5A5A;
    border-radius: 4px;
    color: #fff;
    background: #252525;
}
.butterfly-table-building .table-node.collapse .title {
    border-bottom: none;
}
.butterfly-table-building .table-node .title {
    position: relative;
    border-bottom: 1px solid #5A5A5A;
    padding: 0 50px 0 15px;
    height: 30px;
    line-height: 30px;
    min-width: 150px;
    cursor: pointer;
}
.butterfly-table-building .table-node .title .title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.butterfly-table-building .table-node .title .point {
    position: absolute;
    border-radius: 50%;
    visibility: hidden;
}
.butterfly-table-building .table-node .title .point.show {
    visibility: visible;
}
.butterfly-table-building .table-node .title .point.left-point {
    top: 50%;
    left: 0px;
}
.butterfly-table-building .table-node .title .point.right-point {
    top: 50%;
    right: 0px;
}
.butterfly-table-building .table-node .title .title-icon-con {
    position: absolute;
    display: none;
    top: 0;
    right: 15px;
    color: #484848;
}
.butterfly-table-building .table-node .title .title-icon-con i {
    padding-left: 3px;
}
.butterfly-table-building .table-node .title .title-icon-con i:hover {
    color: rgba(255, 255, 255, 0.5);
}
.butterfly-table-building .table-node .title .title-icon-con .table-build-icon-xiala {
    display: inline-block;
}
.butterfly-table-building .table-node .field {
    position: relative;
    cursor: move;
    height: 24px;
    line-height: 24px;
    align-items: center;
    display: flex;
}
.butterfly-table-building .table-node .field:hover {
    background: rgba(216, 216, 216, 0.06);
}
.butterfly-table-building .table-node .field:hover .point {
    visibility: visible;
}
.butterfly-table-building .table-node .field.hover-chain {
    background: rgba(246, 106, 2, 0.3);
}
.butterfly-table-building .table-node .field.focus-chain {
    background: #F66902;
}
.butterfly-table-building .table-node .field .field-item {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}
.butterfly-table-building .table-node .field .point {
    position: absolute;
    border-radius: 50%;
    visibility: hidden;
}
.butterfly-table-building .table-node .field .point.show {
    visibility: visible;
}
.butterfly-table-building .table-node .field .point.left-point {
    top: 50%;
    left: 0px;
}
.butterfly-table-building .table-node .field .point.right-point {
    top: 50%;
    right: 0px;
}
.butterfly-table-building .table-node.focus {
    border: 1px solid #F66902;
    box-shadow: 0px 0px 5px #f66902;
}
.butterfly-table-building .table-node:hover .title-icon-con {
    display: inline-block;
}
.butterfly-table-building .table-node .no-data {
    margin: 10px 0;
    color: #474747;
    text-align: center;
}
.butterfly-table-building .table-node .no-data .no-data-icon {
    font-size: 36px;
}
.butterfly-table-building .visual-modeling-link.focus {
    stroke: #F66902;
}
.butterfly-table-building .visual-modeling-link.hover-chain {
    stroke: rgba(246, 106, 2, 0.3);
}
.butterfly-table-building .visual-modeling-link.focus-chain {
    stroke: #F66902;
}
.butterfly-table-building .visual-modeling-label {
    transform: scale(0.8);
    background: #313131;
    border: 1px solid #828282;
    padding: 1px 6px;
    border-radius: 13px;
    color: #fff;
}
.butterfly-table-building .visual-modeling-label.focus {
    border: 1px solid #F66902;
}
.butterfly-table-building .visual-modeling-label.hover-chain {
    background: rgba(246, 106, 2, 0.3);
}
.butterfly-table-building .visual-modeling-label.focus-chain {
    background: #F66902;
}
.butterfly-table-building .visual-modeling-label.butterflies-collapse-label {
    padding: 0px 10px;
    height: 16px;
    line-height: 8px;
    font-weight: 900;
    cursor: pointer;
    background: #252525;
}
.butterfly-table-building .visual-modeling-label.butterflies-collapse-label:hover {
    background: #383838;
}
.butterfly-table-building .visual-modeling-arrow.focus {
    stroke: #F66902;
}
.butterfly-table-building .visual-modeling-arrow.hover-chain {
    stroke: rgba(246, 106, 2, 0.3);
}
.butterfly-table-building .visual-modeling-arrow.focus-chain {
    stroke: #F66902;
}
.butterfly-table-building .butterflies-link-event-handler:hover {
    cursor: pointer;
}
.butterfly-table-building .table-build-canvas-action {
    background: #333;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    border: 1px solid #676565;
}
.butterfly-table-building .table-build-canvas-action div {
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    color: #fff;
    opacity: 0.7;
    border-bottom: 1px solid #676565;
}
.butterfly-table-building .table-build-canvas-action div i {
    -webkit-text-stroke-width: 0;
    font-size: 14px;
}
.butterfly-table-building .table-build-canvas-action div:hover {
    background: #0f0f0f;
}
.butterfly-table-building .table-build-canvas-action div:last-child {
    border-bottom: none;
}
.visual-modeling-collapse-menu {
    width: 275px;
}
.visual-modeling-collapse-menu .butterfly-tooltip-inner {
    max-width: 500px!important;
    text-align: left!important;
}
.visual-modeling-collapse-menu .butterfly-tooltip-inner .menu-title {
    margin-bottom: 0;
    padding: 3px 0;
    border-bottom: 1px solid #5A5A5A;
}
.visual-modeling-collapse-menu .butterfly-tooltip-inner .menu-container {
    width: 250px;
}
.visual-modeling-collapse-menu .butterfly-tooltip-inner .menu-container .butterfly-data-mapping {
    margin-top: 10px;
}
.visual-modeling-collapse-menu .butterfly-tooltip-inner .menu-container .butterfly-data-mapping .butterfly-svg {
    position: absolute;
}
