/* nprogress-custom.css */

/* 프로그레스 바의 애니메이션 설정 */
#nprogress .bar {
  position: fixed;
  background-color: #ffc107; /* 프로그레스 바의 색상 설정 */
  z-index: 9999; /* 다른 요소 위에 표시되도록 설정 */
  transition: width 0.3s ease; /* 프로그레스 바의 애니메이션 설정 */
}

/* 로딩 모양 애니메이션 */
#nprogress .spinner {
  border: 2px solid #29d; /* 원의 테두리 설정 */
  border-top: 2px solid #fff; /* 원의 윗부분 테두리 설정 */
  border-radius: 50%; /* 원의 모양을 동그랗게 만듦 */
  width: 20px; /* 로딩 모양의 너비 설정 */
  height: 20px; /* 로딩 모양의 높이 설정 */
  animation: spin 0.8s linear infinite; /* 회전 애니메이션 설정 */
  position: fixed; /* 로딩 모양의 위치를 고정시킴 */
  top: 50%; /* 로딩 모양의 상단 위치를 화면 중앙으로 조정 */
  left: 50%; /* 로딩 모양의 좌측 위치를 화면 중앙으로 조정 */
  transform: translate(-50%, -50%); /* 화면 중앙 정렬 */
  z-index: 10000; /* 다른 요소 위에 표시되도록 설정 */
}

/* 회전 애니메이션 설정 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
