@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #f2f5f9;
        --foreground: #37474f;

        --card: #ffffff;
        --card-foreground: #37474f;

        --popover: #ffffff;
        --popover-foreground: #37474f;

        --primary: #29b6f6;
        --primary-foreground: #ffffff;

        --secondary: #4dd0e1;
        --secondary-foreground: #212121;

        --muted: #80deea;
        --muted-foreground: #212121;

        --accent: #00acc1;
        --accent-foreground: #ffffff;

        --destructive: #e57373;
        --destructive-foreground: #ffffff;

        --border: #90caf9;
        --input: #90caf9;
        --ring: #ffffff;

        --radius: 0.5rem;
    }

    .dark {
        --background: #0c2633;
        --foreground: #ffffff;

        --card: #1f2a38;
        --card-foreground: #ffffff;

        --popover: #1f2a38;
        --popover-foreground: #ffffff;

        --primary: #29b6f6;
        --primary-foreground: #000000;

        --secondary: #0097a7;
        --secondary-foreground: #000000;

        --muted: #0097a7;
        --muted-foreground: #80deea;

        --accent: #80deea;
        --accent-foreground: #000000;

        --destructive: #ef5350;
        --destructive-foreground: #000000;

        --border: #90caf9;
        --input: #ffffff;
        --ring: #ffffff;

        --radius: 0.5rem;
    }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold ;
  }
  h2 {
    @apply scroll-m-20 text-3xl font-semibold ;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold ;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold ;
  }
  pre {
    @apply text-card dark:text-blue-200 text-blue-700;
  }
  code{
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold
  }
  small{
    @apply text-sm font-medium leading-none
  }
  list{
    @apply my-6 ml-6 list-disc [&>li]:mt-2
  }
  blockquote{
    @apply mt-6 border-l-2 pl-6 italic
  }

}
